__pycache__/
.venv/
*.swp
*.test.dat
*.tsv

# Ignore logs
logs/
*.log

# Database and migrations (if applicable)
*.sqlite3
*.db
alembic/

# Ignore package dependencies in virtual environment
**/Lib/site-packages/

env/
